The following are the associated Pin Assignments

Signal  PIN
RFPWM	4
RBPWM	5
LFPWM	7
LBPWM	8
LACMDP	9
RACMDP	6
SERVO1	10
SERVO2	11
SERVO3	12
SERVO4	44
RFDIR	22	
RBDIR	23	
LFDIR	26	
LBDIR	27	
LACDIR	25	
RACDIR	24	
ACENC1A		D2
ACENC1B		D3
ACENC2A		D18
ACENC2B		D19
BKACENC1A		D38
BKACENC1B		D40
BKACENC2A		D39
BKACENC2B		D41
FLWENC/CS		D33
FRWENC/CS		D28
BRWENC/CS		D29
BLWENC/CS		D32
EXSPI2/CS		D30
EXSPI1/CS		D31
SDA	
SCL	
PIN 53	 DO NOT ATTACH
PIN 52	SCK
Pin 51	MOSI
Pin 50	MISO
D13	Bad for servos
D20A/D21	SD/SCL

Extra
GPIO	
1	VCC
2	GND
3	AD0
4	AD1
5	AD2
6	AD3
7	AD4
8	AD5
9	AD6
10	AD7
11	AD8
12	AD9
13	AD10
14	AD11
15	AD12
16	AD13
17	AD14
18	AD15

Extra PWM outputs
PWM
D45
D46
















